POSTGRES_USER=admin
POSTGRES_PASSWORD=replace-with-a-strong-db-root-password
POSTGRES_DB=n8n

POSTGRES_NON_ROOT_USER=user
POSTGRES_NON_ROOT_PASSWORD=replace-with-a-strong-db-user-password

ENCRYPTION_KEY=replace-with-a-strong-n8n-encryption-key

# NOT USED IN DOCKER-COMPOSE

N8N_SECURE_COOKIE=false

# NOT USED AT ALL (JUST TO REMEMBER)
# N8N_USER_PASS=replace-with-a-strong-admin-password
